@font-face {
  font-family: "League Spartan";
  src: url(./fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

* {
  font-family: "League Spartan";
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  color: hsl(303, 10%, 53%);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
}

main h1 {
  color: hsl(300, 43%, 22%);
  font-size: 32px;
  font-weight: 700;
}

.stars-review {
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
}

.stars-review p {
  font-weight: 700;
}

.customer-review {
  background-color: hsl(300, 43%, 22%);
  color: white;
}

.customer-review h3 {
  color: hsl(333, 80%, 67%);
}
